<ion-view cache-view="false" title="{{title}}">
<ion-content>
<form name="adduserForm" novalidate>
    <ion-list>
      <label class="item item-input item-icon-left" ng-class="{ 'has-errors' : adduserForm.name.$invalid, 'no-errors' : adduserForm.name.$valid}">
        <i class="icon ion-man positive"></i>
        <span class="input-label">Name</span>
        <input name="name" type="text" ng-model="adduser.name" required>
      </label>
<!-- <div class="list">
  <label class="item item-input">
    <span class="input-label">Name</span>
    <input type="text" ng-model="adduser.name">
  </label> -->
  <label class="item item-input item-icon-left item-select" ng-class="{ 'has-errors' : adduserForm.role.$invalid, 'no-errors' : adduserForm.role.$valid}">
    <i class="icon ion-ribbon-a positive"></i>
    <span class="input-label">Role</span>
    <select name="role" ng-model="adduser.role" required>
      <option ng-selected="defaultSelect(role)" ng-repeat="(k,role) in roles">{{role}}</option>
    </select>
  </label>  
  <label class="item item-input item-icon-left" ng-class="{ 'has-errors' : adduserForm.salarylevel.$invalid, 'no-errors' : adduserForm.salarylevel.$valid}">
    <i class="icon ion-social-usd-outline positive"></i>
    <span class="input-label">Salary Level</span>
    <input name="salarylevel" type="number" ng-model="adduser.salarylevel" placeholder="eg: 0.5" required>
  </label>
  <label class="item item-input item-icon-left" ng-if="action == 'create'" ng-class="{ 'has-errors' : adduserForm.email.$invalid, 'no-errors' : adduserForm.email.$valid}">
    <i class="icon ion-iphone positive"></i>
    <span class="input-label">Mobile</span>
    <input name="email" type="text" ng-model="adduser.email" required>
  </label>  
  <label class="item item-input item-icon-left" ng-if="action == 'update'"  ng-class="{ 'has-errors' : adduserForm.mobile.$invalid, 'no-errors' : adduserForm.mobile.$valid}">
    <i class="icon ion-iphone positive"></i>
    <span class="input-label">Mobile</span>
    <input name="mobile" type="text" ng-model="adduser.mobile">
  </label>    
<!--   <label class="item item-input">
    <textarea placeholder="Address" ng-model="adduser.mobile"></textarea>
  </label>    -->
 </ion-list>
 </form>
   <div class="padding">
    <button ng-click="submit()" class="button button-positive button-block" ng-disabled="adduserForm.$invalid">{{adduserForm.$invalid ? "Fill mandatory fields" : "Submit"}}</button>
  </div>
 </ion-content>
</ion-view>
