<ion-view cache-view="false" title="{{title}}">
<ion-content>
<div class="list">
  <label class="item item-input">
    <span class="input-label">From</span>
    <input type="date" ng-model="addtrip.startdate">
  </label>
  <label class="item item-input">
    <span class="input-label">To</span>
    <input type="date" ng-model="addtrip.enddate">
  </label>
<label class="item item-input">
    <span class="input-label">Income</span>
    <input type="number" ng-model="addtrip.income">
  </label>

<label class="item item-input">
    <span class="input-label">Owner%</span>
    <input type="number" ng-model="addtrip.ownerp">
  </label>
  <label class="item item-input">
    <span class="input-label">Worker%</span>
    <input type="number" ng-model="addtrip.workerp">
  </label>
  <label class="item item-input">
    <span class="input-label">Diesel</span>
    <input type="number" ng-model="addtrip.diesel">
  </label>
  <label class="item item-input">
    <span class="input-label">Ice</span>
    <input type="number" ng-model="addtrip.ice">
  </label>
  <label class="item item-input">
    <span class="input-label">net</span>
    <input type="number" ng-model="addtrip.net">
  </label>
   <label class="item item-input">
    <span class="input-label">Food</span>
    <input type="number" ng-model="addtrip.food">
  </label>
  <label class="item item-input">
    <span class="input-label">Bata/Day</span>
    <input type="number" ng-model="addtrip.bataperday">
  </label>
  <label class="item item-divider item-icon-right">
    <span class="input-label">Extra</span>
    <div class="buttons buttons-right header-item"><span class="right-buttons">
  <button class="icon button-clear ion-ios-plus-outline" ng-click="createExtra()"></button>
    </span></div>
  </label>
  <label on-swipe-left="removeExtra(k)" class="item item-input" ng-repeat="(k,v) in addtrip.extra">
    <input type="text" ng-model="addtrip.extra[k].name" placeholder="Add extra">
    <input type="number" ng-model="addtrip.extra[k].price" placeholder="rs">
  </label>
  <label class="item item-divider">
    <span class="input-label">Members</span>
  </label>   
  <ul class="list">
  <li class="item item-checkbox" ng-repeat="(k, member) in members">
     <label class="checkbox">
       <input type="checkbox" ng-model="addtrip.allmembers[member._id]">
     </label>
     {{member.name}}
  </li>
</ul>
 </div>
<div class="padding">
        <button class="button button-block button-positive activated" ng-click='submit()'>Submit</button>
</div>
 </ion-content>
</ion-modal-view>
