<ion-side-menus enable-menu-with-back-views="true" ng-init="AppCtrl" delegate-handle="right-menu">
  <ion-side-menu-content>
    <ion-nav-bar ng-show="uid" class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item nav-clear class="center menu-logo"><h2><i class="icon ion-android-boat positive" style="font-size:60px"></i></h2><h2>Welcome {{username}}</h2></ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/dashboard">
        <i class="icon ion-stats-bars positive"></i>
        <b>Dashboard</b>
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/trips">
        <i class="icon ion-android-boat positive"></i>
        <b>Trips</b>
        </ion-item>              
        <ion-item menu-close class="item-icon-left" href="#/app/addtrip">
        <i class="icon ion-compose positive"></i>
        <b>Add trip</b>
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/users">
        <i class="icon ion-ios-people positive"></i>
        <b>Users</b>
        </ion-item>              
        <ion-item menu-close class="item-icon-left" href="#/app/adduser">
        <i class="icon ion-person-add positive"></i>
        <b>Add user</b>
        </ion-item>        
        <ion-item menu-close class="item-icon-left" href="#/app/profile">
        <i class="icon ion-gear-b positive"></i>
        <b>Profile</b>
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/logout">
          <i class="icon ion-log-out positive"></i>
          <b>Logout</b>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
