<ion-view cache-view="false" ng-init="getTripData()">
   <ion-nav-title>{{title}} Dashboard</ion-nav-title>
   <ion-content class="has-header">
      <ion-refresher pulling-text="Pull to refresh" on-refresh="getMarksData()"></ion-refresher>
<!--       <chart id="ssubjects" config="ssubjectsConfig" ng-if="dashboardStatus != 'empty'"></chart>
      <chart id="sattendance" config="sattendanceConfig" ng-if="dashboardStatus != 'empty'" class="noclick"></chart> -->
      <div class="list">
      <a class="item item-icon-left first" href="#">
      <i class="icon ion-plus-circled positive"></i>Income<span class="badge badge-positive">{{trip.income}}</span></a> 
      <a class="item item-icon-left first" href="#">
      <i class="icon ion-plus-circled positive"></i>Total Spending<span class="badge badge-positive">{{trip.totalspending}}</span></a> 
      </div>
   </ion-content>
</ion-view>
