<ion-view cache-view="false" ng-init="getTrips()">
   <ion-nav-title>{{title}}</ion-nav-title>
   <ion-content class="has-header">
      <ion-refresher pulling-text="Pull to refresh" on-refresh="getTrips()"></ion-refresher>
      <ion-list ng-if="dashboardStatus == 'empty'">
         <ion-item class="item item-icon-left"><i class="icon ion-ios-list positive"></i>Dashboard is empty</item>
      </ion-list>
      <chart id="allincome" config="allincomeConfig" ng-if="dashboardStatus != 'empty'"></chart>
      <div class="padding"></div>
      <chart id="allspending" config="allspendingConfig" ng-if="dashboardStatus != 'empty'"></chart>
      <div class="list" ng-if="dashboardStatus != 'empty'">
       <a class="item item-icon-left first" href="#">
      <i class="icon ion-plus-circled positive"></i>Income<span class="badge badge-positive">{{all.income.total}}</span></a> 
       <a class="item item-icon-left first" href="#">
      <i class="icon ion-plus-circled positive"></i>Spending<span class="badge badge-positive">{{all.spending.total}}</span></a> 
      <a class="item item-icon-left first" href="#" ng-repeat="(allk,allv) in all.members">
      <i class="icon ion-person positive"></i>{{allk}}<span class="badge badge-positive">{{allv.total}}</span></a> 
      </div>
   </ion-content>
</ion-view>
