<ion-view cache-view="false" ng-init="getTrips()">
   <ion-nav-title>{{title}}</ion-nav-title>
   <ion-content class="has-header">
      <ion-refresher pulling-text="Pull to refresh" on-refresh="getTrips()"></ion-refresher>
      <ion-list ng-if="dashboardStatus == 'empty'">
         <ion-item class="item item-icon-left"><i class="icon ion-ios-list positive"></i>Dashboard is empty</item>
      </ion-list>
      <chart id="income" config="incomeConfig" ng-if="dashboardStatus != 'empty'"></chart>
      <div class="padding"></div>
      <chart id="spending" config="spendingConfig" ng-if="dashboardStatus != 'empty'"></chart>
<!--       <div class="list">
      <a class="item item-icon-left first" href="#">
      <i class="icon ion-plus-circled positive"></i>Income<span class="badge badge-positive">{{trip.income}}</span></a> 
      <a class="item item-icon-left first" href="#">
      <i class="icon ion-plus-circled positive"></i>Total Spending<span class="badge badge-positive">{{trip.totalspending}}</span></a> 
      </div> -->
   </ion-content>
</ion-view>
